<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Player</title>
</head>
<body>
    <h1>Video Player</h1>
    <video width="640" height="360" controls>
        <source src="{{ video.file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p>Title: {{ video.title }}</p>
    <p>Description: {{ video.description }} </p>
    <p>Video Url: {{ video.video_file.url }} </p>
    <p>Transcription: {{ video.transcription }} </p>
    <p>Upload Date: {{ video.upload_date }}</p>
    <p>Last Modified: {{ video.last_modified }}</p>
</body>
</html>